<footer class="footer">
  <div class="container">
    <ul class="developers-list">
      <!-- visually-hidden -->
      <li class="developer-item">
        <div>
          <img src="#" alt="" />
        </div>
        <p>Оля</p>
      </li>
      <li class="developer-item">
        <div>
          <img src="#" alt="" />
        </div>
        <p>Олег</p>
      </li>
      <li class="developer-item">
        <div>
          <img src="#" alt="" />
        </div>
        <p>Павло</p>
      </li>
      <li class="developer-item">
        <div>
          <img src="#" alt="" />
        </div>
        <p>Богдан</p>
      </li>
      <li class="developer-item">
        <div>
          <img src="#" alt="" />
        </div>
        <p>Тихон</p>
      </li>
      <li class="developer-item">
        <div>
          <img src="#" alt="" />
        </div>
        <p>Ігор</p>
      </li>
    </ul>
    <div class="footer-desc">
      <p>
        &copy 2021 | All Rights Reserved | Developed with
        <button type="button" class="btn-developers">♥</button>
        by GoIT Students
      </p>
    </div>
  </div>
</footer>
