<div class="backdrop" data-modal>
   <div class="modal">
      <button type="button" class="button-close" data-modal-close>
         <svg class="button__icon" width="17" height="17">
               <use href="./images/icons.svg#close"></use>
         </svg>
      </button>
      <div class="logo ">
                  <img
                     class="logo__icon-box"
                     src="./images/modal/rectangle-desktop-logo-min.jpg"
                     alt="photo poster"
                  />
      </div>
         <!--<div class="style-tablet-box">-->
               <div class="poster-is-hidden poster">
                     <img
                        class="poster__icon"
                        src="./images/modal/pic-descktop.jpg"
                        alt="photo poster"
                     />
               </div>
               <div class="description">
                  <div class="description__first-box">
                     <div class="description__box description__box-tablet">
                        <h2 class="description__title">INFO</h2>
                        <p class="description__text">Atlas Weekend is theAtlas Weekend is the Atlas Weekend is the Atlas Weekend is the Atlas Weekend is the Atlas Weekend is the Atlas Weekend is the Atlas Weekend is the Atlas Weekend is the Atlas Weekend is the Atlas Weekend is the Atlas Weekend is the Atlas Weekend is the Atlas Weekend is the Atlas Weekend is the Atlas Weekend is the Atlas Weekend is the Atlas Weekend is the Atlas Weekend is the  </p>
                     </div>   
                     <div class="description__box description__box-tablet">
                        <h3 class="description__title">WHEN</h3>
                        <p class="description__text">2021-06-09</p>
                        <p class="description__text">20:00 (Kyiv/Ukraine)</p>
                     </div>  
                  </div>     
                  <div class="description__second-box">
                     <div class="description__box description__box-where">
                        <h4 class="description__title">WHERE</h4>
                        <p class="description__text">Kyiv, Ukraine</p>
                        <p class="description__text">VDNH</p>
                     </div> 
                     <div class="description__box">
                        <h5 class="description__title">WHO</h5>
                        <p class="description__text">The Black Eyed Peas</p>
                     </div>    
                  </div>
               </div>
                  <!--<div class="description__box description__box-prices">-->
                     <h6 class="description__title description__title-prices">PRICES</h6>
                 
                  <div class="style-prices">
                     <div> 
                     <div class="description__barcode-text">  
                           <svg class="barcode" width="24" height="16">
                              <use href="./images/icons.svg#ticket"></use>
                           </svg>                   
                           <p class="description__text description__text-prise">Standart 300-500 UAH</p>
                        </div>
                           <a  class="description__button">BUY TICKETS</a>
                     </div>
                     <div>
                        <div class="description__barcode-text">  
                           <svg class="barcode" width="24" height="16">
                              <use href="./images/icons.svg#ticket"></use>
                           </svg>                   
                           <p class="description__text description__text-prise">VIP 1000-1500 UAH</p>
                        </div>
                           <a  class="description__button ">BUY TICKETS</a>
                     </div>
                  </div>
         <!--</div>   -->
      <a class="button-more-author" href="#">MORE FROM THIS AUTHOR</a>
   </div>
</div>

