<div class="team-wrapper">
  <h2 class="section-title team-title">Our team</h2>
  <ul class="list team-list">
    <li class="team-item">
      <img src="./images/man.png" alt="Портрет человека" />
      <div class="team-card-bottom">
        <h3 class="team-item-title">Oleg Palashynskyi</h3>
        <p lang="en" class="team-text">Team Lead</p>
        <a href="https://github.com/0Palah">
          <svg class="icon" width="20" height="20">
            <use href="./images/icons.svg#github-icon"></use></svg
        ></a>
      </div>
    </li>
    <li class="team-item">
      <img src="./images/man.png" alt="Портрет человека" />
      <div class="team-card-bottom">
        <h3 class="team-item-title">Pavlo Shevchenko</h3>
        <p lang="en" class="team-text">Scrum Master</p>
        <a href="">
          <svg class="icon" width="20" height="20">
            <use href="./images/icons.svg#github-icon"></use></svg
        ></a>
      </div>
    </li>
    <li class="team-item">
      <img src="./images/woman.png" alt="Портрет человека" />
      <div class="team-card-bottom">
        <h3 class="team-item-title">Olha Cheroi</h3>
        <p lang="en" class="team-text">Full Stack Developer</p>
        <a href="https://github.com/olya4e">
          <svg class="icon" width="20" height="20">
            <use href="./images/icons.svg#github-icon"></use></svg
        ></a>
      </div>
    </li>
    <li class="team-item">
      <img src="./images/man.png" alt="Портрет человека" />
      <div class="team-card-bottom">
        <h3 class="team-item-title">Bogdan Zarichnyy</h3>
        <p lang="en" class="team-text">Full Stack Developer</p>
        <a href="https://github.com/BogdanZarichnyy">
          <svg class="icon" width="20" height="20">
            <use href="./images/icons.svg#github-icon"></use></svg
        ></a>
      </div>
    </li>
    <li class="team-item">
      <img src="./images/man.png" alt="Портрет человека" />
      <div class="team-card-bottom">
        <h3 class="team-item-title">Ihor Hudyma</h3>
        <p lang="en" class="team-text">Full Stack Developer</p>
        <a href="https://github.com/HudymaIgor">
          <svg class="icon" width="20" height="20">
            <use href="./images/icons.svg#github-icon"></use></svg
        ></a>
      </div>
    </li>
    <li class="team-item">
      <img src="./images/man.png" alt="Портрет человека" />
      <div class="team-card-bottom">
        <h3 class="team-item-title">Tykhon Maznychenko</h3>
        <p lang="en" class="team-text">Full Stack Developer</p>
        <a href="">
          <svg class="icon" width="20" height="20">
            <use href="./images/icons.svg#github-icon"></use></svg
        ></a>
      </div>
    </li>
  </ul>
</div>
