.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  padding: 30px 0px 25px 0px;

  @media screen and (min-width: 768px) {
    padding-bottom: 40px;
  }
}

.footer-desc {
  color: #939393;
  width: 250px;
  display: block;

  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
    width: 768px;
  }
}

.developers-list {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-developers {
  color: var(--content-text-color);
  font-size: 25px;
  border: none;
  background-color: transparent;

  &:hover,
  &:focus-within {
    color: red;
    -webkit-animation: heartbeat 1.5s linear infinite backwards;
	        animation: heartbeat 1.5s linear infinite backwards;
    @keyframes heartbeat {
      from {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
      }
      10% {
        transform: scale(0.7);
        animation-timing-function: ease-in;
      }
      17% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
      }
      33% {
        transform: scale(0.7);
        animation-timing-function: ease-in;
      }
      45% {
        transform: scale(1);
        animation-timing-function: ease-out;
      }
    }
  }
}
